*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
Images/.frame_cn1.png filter=lfs diff=lfs merge=lfs -text
Images/.frame2_cn.png filter=lfs diff=lfs merge=lfs -text
Images/风控.gif filter=lfs diff=lfs merge=lfs -text
Images/合规.gif filter=lfs diff=lfs merge=lfs -text
Images/金融代码.gif filter=lfs diff=lfs merge=lfs -text
Images/金融计算.gif filter=lfs diff=lfs merge=lfs -text
Images/英文金融.gif filter=lfs diff=lfs merge=lfs -text
Images/data_construct.png filter=lfs diff=lfs merge=lfs -text
Images/ESG.gif filter=lfs diff=lfs merge=lfs -text
Images/trainning.png filter=lfs diff=lfs merge=lfs -text
Images/.frame_cn2.png filter=lfs diff=lfs merge=lfs -text
Images/Data_distribution_en.png filter=lfs diff=lfs merge=lfs -text
Images/English_Financial_Calculations.gif filter=lfs diff=lfs merge=lfs -text
Images/Fin-R1-pipeline_en.png filter=lfs diff=lfs merge=lfs -text
Images/Financial_Calculations.gif filter=lfs diff=lfs merge=lfs -text
Images/Financial_Code.gif filter=lfs diff=lfs merge=lfs -text
Images/Financial_Security_and_Compliance.gif filter=lfs diff=lfs merge=lfs -text
Images/Intelligent_Risk_Control.gif filter=lfs diff=lfs merge=lfs -text
Technical_report.pdf filter=lfs diff=lfs merge=lfs -text
